{% extends 'base.html' %}

{% block title %}
    JD ID
{% endblock %}

{% block body %}
    <h1>Waktu Flashdeal : {{ end['startTime'] }} - {{ end['endTime'] }} <br></h1><br><br>
    {% for i in range(length) %}
        <img src="https://img20.jd.id/Indonesia/s300x300_/{{ items[i]['skuPic'] }}" style="border:1px solid black">
        {{ items[i]['skuName'] }} <br>
        Harga Normal = {{ items[i]['price'] }} <br>
        Harga Diskon = {{ items[i]['promotionPrice'] }} <br>
        Stock Flashdeal = {{ items[i]['promotionStock'] }} <br>
        <a class="h-12 px-6 m-2 text-lg text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800"
                href="https://www.jd.id/product/{{ items[i]['skuName'].replace('+', ' ').replace('/', ' ').replace('-', '').replace('(', ' ').replace(')', ' ').replace('[', ' ').replace(']', ' ').replace(' ', '-') }}_{{ items[i]['wareId'] }}/{{ items[i]['skuId'] }}.html">Detail</a>

        <br><hr><br>
    {% endfor %}

{% endblock %}